* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #eeeeee;
}
.distance{
    height: 6rem;
}
.container{
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.8s all ease;
}
.container.container-active{
    transform: translateY(0);
    opacity: 1;
}
.white{
    color: white;
}
.black{
    color: black;
}
h1{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 10px;
}
h3{
    font-weight: 700;
    font-size: 36px;
}
h5{
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}
/*button*/
.btn {
    margin: 15px 0;
    display: block;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 17px 60px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    border: 1px #ffba00 solid;
    border-radius: 5px;
}

.whatsapp{
    text-decoration: none;
}
.btn span {
    position: relative;
    z-index: 1;
}
.btn:hover span{
    color: black;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn-white{
    background-color: #ffba00;
    border:none;
}
.btn-white:after{
    background: #4555b9;
}
.btn-white:hover span{
    color: white;
}
.btn-black{
    background-color: transparent;
}
.btn-black:after{
    background-color: #ffba00;
}
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/*Header*/
.page-header {
    position: fixed;
    top: 0;
    display: flex;
    height: 6rem;
    width: 100%;
    background: #272c4c;
    z-index: 2;
}
.page-header > .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
.logo{
    z-index: 5;
}
.page-header > .header-content .logo > img {
    object-fit: cover;
    padding-top: 10px;
}
.page-header > .header-content > #hamburger-checkbox {
    display: none;
}
.page-header > .header-content > .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    width: 1.3rem;
    height: 1.3rem;
}
.page-header > .header-content > .hamburger > .line {
    width: 100%;
    height: 0.15rem;
    background: white;
}
.page-header > .header-content > nav {
    position: absolute;
    top: 0;
    right: -100%;
    transition: right 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    height: 100vh;
    width: 15rem;
    z-index: 1;
}
.page-header > .header-content > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    list-style: none;
    transition: right 0.1s ease;
    background: #272c4c;
    height: 100vh;
    width: 15rem;
}
.page-header > .header-content > nav > ul > li {
    margin: 0.8rem 0;
}
.page-header > .header-content > nav > ul > li > a {
    color: white;
    text-decoration: none;
}
.page-header > .header-content .page-shader {
    display: none;
    transition: opacity 0.5s ease;
}
.page-header > .header-content > #hamburger-checkbox:checked ~ .page-shader {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.page-header > .header-content > #hamburger-checkbox:checked ~ nav {
    right: 0;
}
.header__logo{
    display: none;
}
.header__logo-scrolled{
    display: block;
}
@media screen and (min-width: 800px) {
    .page-header{
        position: fixed;
        display: flex;
        height: 6rem;
        width: 100%;
        background: transparent;
        z-index: 2;
        transition: height 1s;
    }
    .page-header.scrolled{
        background-color: #272c4c;
        height: 5rem;
    }
    .header__logo-scrolled{
        display: none;
    }
    .header__logo{
        display: block;
    }
    .scrolled .header__logo-scrolled{
        display: block;
    }
    .scrolled .header__logo{
        display: none;
    }
    .page-header > .header-content > nav{
        height: 0;
        background: transparent;
    }
    .page-header > .header-content > .hamburger {
        display: none;
    }
    .page-header > .header-content > nav {
        position: static;
    }
    .page-header > .header-content > nav > ul {
        flex-direction: row;
        background: none;
        width: 700px;
        margin-left: 250px;
    }
    .page-header > .header-content > nav > ul > li {
        margin: 0 0.8rem;
    }
    .page-header > .header-content > #hamburger-checkbox:checked ~ .page-shader {
        display: none;
    }
    .page-header > .header-content > #hamburger-checkbox:checked ~ nav {
        background: transparent;
    }
}


/*welcome*/
.welcome{
    min-height: 750px;
    background-image: url("assets/welcome-bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
.welcome__content{
    max-width: 900px;
    background: rgba(0, 0, 0, 0.57);
    padding: 50px;
    border-radius: 5px;
    transition: background-color 0.5s;
    border:1px solid orange;
}
.welcome__content:hover{
    background: rgba(0, 0, 0, 0.84);

}
/*about*/

.about{
    min-height: 650px;
    display: flex;
    align-items: center;
}

.about h5{
    margin: 20px 0;
}

.about__content{
    width: 600px;
    justify-content: space-between;
}
.about .container{
    display: flex;
    justify-content: space-between;
}
.about img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

.about button{
    margin-top: 50px;
}


/*why-us*/
.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}
.card-list h5{
    padding: 10px 0;
}
.card{
    width: 300px;
    text-align: center;
    margin: 10px;
}
.card img{
    width: 60px;
}
.card:last-child img{
    width: 80px;
}
.card__img{
    width: 120px;
    height: 120px;
    background-color: #4555b9;
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*projects*/
.projects{
    margin: 50px 0;
}
.projects img{
    width: 19vw;
    border: 2px solid #ffba00;
    height: 200px;
}

.projects h3{
    padding: 50px 0
}
#wrapper {
    width: 100%;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: column ;
    margin: auto;
    box-sizing: border-box;
}

/*contacts*/
.contacts{
    background-color: #ffba00;
    padding: 30px;
    position: relative;
    height: 500px;
}
.contacts__content{
    width: 60%;
}
.contacts .container{
    display: flex;
    justify-content: space-between;
}
.contacts__about{
    width: 635px;
}
.contacts__content h5{
    margin: 50px 0;

}
.contacts__ask{
    font-size: 25px;
    line-height: 1.4;
    margin-top: 25px;
}
.contacts__question{
    font-size: 18px;
    margin-left: 30px;
}

.contacts__question p{
    margin: 30px 0;
}

.contacts__box{
    margin-top: 50px;
    max-width: 365px;
    max-height: 490px;
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding:35px;
    border-radius: 10px;
    background-color: white;
}
.contacts__box h3{
    font-size: 25px;
}
.contacts__box div{
    padding: 25px 0;
    display: flex;
    font-size: 17px;
    align-items: center;
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
}

.contacts__box div a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.contacts__box div p{
    display: flex;
}
.contacts__box div span{
    color: #4555b9;
    font-size: 35px;
    margin-right:10px;
}

.contacts__box-title{
    font-size: 24px;
    font-weight: 600;
}
/*map*/

.map{
    margin: 100px 50px;
}
/*footer*/
footer{
    min-height: 300px;
    margin-top: 50px;
    background-color: #272c4c;
    position: relative;
    color: white;
    overflow: hidden;
}
.footer hr{
    display: none;
}
.footer__link-list{
    color: #ffba00;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    max-width: 400px;
    width: 100%;
}
.footer__link-list a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
.footer__link-list a:hover{
    color: #ffba00;
}
.footer__link-list li{
    margin: 5px 15px;
}
.footer__contacts div{
    display: flex;
}
.footer__contacts img{
    margin-right: 50px;
}
.footer .container{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.footer__contacts span{
    font-size: 30px;
    margin: 0 15px;
}
.footer__contacts div{
    margin: 20px 0;
}
.footer__contacts a{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
.footer__contacts a:hover{
    color: #ffba00;
}


/*process*/
.process{
    margin: 100px 0;
    background-color: #ffba00;
}
.process h3{
    padding-top: 50px;
}
.wrap {  padding: 2rem; }

.viewbox {
    margin: 0 auto;
    overflow-x: hidden;
    width: 75vw;
    border-radius:0 0 5px 5px;
}

.steps {
    background-color: white;
    min-height: 200px;
    display: flex;
    width: 300vw;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
    overflow: hidden;
}

.step  {
    width: 100%;
    padding: 20px;
}

.step p{
    line-height: 20px;
}

.step-nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.step-nav .step-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    color: black;
    margin-right: 1rem;
    transition: background-color 0.5s;
}
.step-nav li{
    width:100%;
}
.step-item.active {
    background-color:#4555b9;
    color: white;
}
.step hr{
    width: 95%;
    margin: 20px 0;
}


@media screen and (max-width: 1080px){
    .container{
        max-width: 86vw;
        width: 100%;
    }
    .about .container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about button{
        margin: 50px auto;
    }
    .about img{
        display: none;
    }
    .why-us .container{
        text-align: center;
    }
    .contacts{
        max-height: 1500px;
        height: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }

    footer{
        padding: 5px;
    }
    footer .container{
        flex-direction: column;
    }
    .footer hr{
        display: block;
        margin: 20px 0;
        background-color: gray;
    }
}
@media screen and (max-width: 750px){
    h1{
        font-weight: 500;
        font-size: 33px;
        margin-bottom: 10px;
    }
    h3{
        font-weight: 500;
        font-size: 25px;
    }
    h5{
        font-weight: 200;
        font-size: 20px;
        line-height: 20px;
    }
    p{
        font-size: 15px;
    }
    .welcome .btn{
        margin: 15px auto;
    }
    .welcome .container{
        max-width: 100vw;
        text-align: center;
    }
    .card-list{
        justify-content: center;
    }
    .step-nav {
        flex-direction: column;
        justify-content: center;
        width:100%;
    }
    .projects img{
        width: 40vw;
        height: 100px;
    }
    .contacts__box{
        padding: 20px;
    }
    .contacts__box .btn{
        margin: 10px auto;
    }

    .contacts__content{
        text-align: left !important;
        width: 100%;
    }
    .contacts__content h5{
        margin: 10px 0;
    }
    .contacts .container{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        width: 100vw;
        text-align: center;
    }
}
